<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
</head>
<body>
    <h1>Guia perguntas!</h1>
    <hr>
    <h3>Lista de perguntas</h3>

    <!--Obtendo variáveis do js passadas pelo render.-->
    <p>Nome:<%= nome %></p>
    <p>Linguagem:<%= lang %></p>
    <p>Empresa:<%= empresa %></p>
    <p>Inscritos:<%= inscritos %></p>

    <!--Estrutura condicional dentro do HTML,  função do ejs-->
    <% if(msg) { %>
        <h3>Isso é uma mensagem de erro.</h3>
    <% } else { %>
        <h3>Execução sem erro.</h3>
    <% } %>

    <!--Percorrendo um array dentro do HTLM-->
    <h3>Lista de produtos:</h3>
    <hr>
    <% produtos.forEach(function(produto) { %>       
        <p>
            <h3> <%= produto.nome %></h3>
            <h4> <%= produto.preco %></h4>
        </p>
    <% }) %>

</body>
</html>

